#title {
  font-size: calc(var(--base-unit) * 0.5);
  line-height: calc(var(--base-unit) * 0.5);
  font-family: var(--paper-font-headline_-_font-family); 
  -webkit-font-smoothing: var(--paper-font-headline_-_-webkit-font-smoothing); 
  font-size: var(--paper-font-headline_-_font-size);
  font-weight: var(--paper-font-headline_-_font-weight); 
  letter-spacing: var(--paper-font-headline_-_letter-spacing); 
  line-height: var(--paper-font-headline_-_line-height); 
  text-rendering: var(--paper-font-common-expensive-kerning_-_text-rendering); 
  opacity: var(--dark-primary-opacity); 
  padding: 24px 16px 20px 0px;
  color: var(--primary-text-color);
}

/* controler div setting need to beadjusted to hassio */
#controler {
  position: absolute;
  left: 100px;
  width: 500px;
}

table{
  font-size: 9pt;  /* calc(var(--base-unit) * 0.2); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td 
{
 /* background: lightyellow; */
 /* border: solid 1px lightskyblue; */
 padding: 4px;
 align-content: center;

}

tr.zone:nth-child(even) {
  background-color: rgb(235, 232, 253);
  border: solid 1px lightskyblue;
}
tr.zone:nth-child(odd) {
  background-color: #eee;
  border: solid 1px rgb(202, 232, 250);
}

tr {
  border: solid 1px lightskyblue;
}
tr.circuit
{
  background: rgba(241, 255, 241, 0.56);
  border: solid 1px red;
}

td.circuitlabel
{
  width: 100px;
}
td.zonelabel
{
  width: 20px;
  max-width: 20px;
}

td.circuit
{
  width: 100px;
}

td.input
{
  width: 60px;max-width: 60px;
}

td.output
{
  width: 60px;
}

td.rooms
{
  width: 100px;
  max-width: 100px;
  /* border: solid 1px rgb(135, 250, 169); */
}

td.rooms table{
  width: 100%;
}

td.room
{
  text-align: center;
  width: 100%;
  border: solid 1px lightgray;
  background: white;
}

.tempsymbol {
  margin-left: 4px;
}

.tempvalue {
  font-size: calc(var(--base-unit) * 0.7);
  font-weight: bold;
}

div.room {
  position: relative;

  top: 0px;
  left: 54px;
  width: 142px;

  padding: 2px 2px 2px 2px;

  text-align: center;
  color: blue;
  /* border: solid 1px lightblue; */
}


div.zoneroom {
  position: relative;
  top: calc(50% - 60px);
  width: 50%;
  text-align: center;
  margin: auto;

  top: 0px;

  padding: 2px 2px 2px 2px;

  color: blue;
  /* border: solid 1px lightblue; */
}

div.inline_tempbox {
  font-size: calc(var(--base-unit) * 0.5);
  line-height: calc(var(--base-unit) * 0.5);
  
  color: var(--primary-text-color);

  padding: 2px 2px 2px 4px;
  border: solid 1px grey;
  background: rgba(255, 255, 147, 0.589);

  margin: 0 auto;

  width: 50px;
  height: 20px;
}

#inputline
{
  float:left;
  background: lightsalmon;
  margin-left: 100px;

  width: 60px;
  height: 200px; /* how to get the full width? */
}

#outputline
{
  float: right;
  background: lightsalmon;
  
  margin-right: 50px;

  width: 100px;
  height: 250px;
}

div.zone
{
  position: relative;
  background: lightyellow;
}

div.zonelabel
{
  position: relative;
  
  top: -50%;
  width: 100%; 
  height: 0%;
  text-align: center;

  color:grey;
  font-size: 10pt;  /* calc(var(--base-unit) * 0.2); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  /* Safari */
-webkit-transform: rotate(90deg);

/* Firefox */
-moz-transform: rotate(90deg);

/* IE */
-ms-transform: rotate(90deg);

/* Opera */
-o-transform: rotate(90deg);
}

div.refreshtime
{
  color:grey;
  font-size: 8pt;  /* calc(var(--base-unit) * 0.2); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.debugoutline
{
  border: dashed 1px lightcoral;
}

.debugoutline0
{
  border: dashed 2px lightslategray;
}